:root {
  color-scheme: light dark;
  --gren: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}
body {
  background: var(--black);
  font-family: monospace;
  display: grid;
  padding: 32px;
  justify-content: center;
}
section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  padding: 16px;
}
time {
  color: var(--yellow);
}
#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* form {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */
#input-txt {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 6px;
}
x-letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: "|";
    color: var(--yellow);
    position: absolute;
    left: -50%;
    animation: 1s blink infinite ease-in-out;
  }
  &.active.is-last::before {
    left: 50%;
  }
  &.correct {
    color: var(--gren);
  }
  &.incorrect {
    color: var(--red);
  }
}
x-word {
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s ease-in-out;

  &.marked {
    border-color: var(--red);
  }
}
#game {
  display: flex;
}
#results {
  display: none;
}
h2 {
  font-weight: 400;
  opacity: 0.5;
  font-size: 18px;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  color: var(--yellow);
}
#reload-btn,
#home-btn {
  background: transparent;
  border: 0;
  margin-top: 30px;
  opacity: 0.5;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;

  &:hover {
    background: #333;
    opacity: 1;
    scale: 110%;
  }
}
.btn-container {
  display: flex;
  gap: 10px;
}
@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
